<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "header" }}

    <style>
        #card-product {
            margin-top: 10px;
            padding: 10px;
            background-color: #f2f6f8;
        }
    </style>

    <title>Home - ERP System</title>
</head>
<body>
    {{ template "navbar" }}
    <div class="container">
        <div class="row my-3">
            <div class="col-12">
                <h4 class="text-center text-bold">Editar produto: {{ .Name }}</h4>
            </div>
        </div>
        <div class="card" id="card-product">
            <form id="form-edit--product" class="row">
                <div class="mb-3 col-md-4">
                    <label for="product_code" class="form-label">Cod</label>
                    <input type="text" class="form-control" id="product_code" placeholder="cod" value="{{ .Cod }}"> 
                    <input type="hidden" class="form-control" id="product_id" value="{{ .ID }}"> 
                </div>
                <div class="mb-3 col-md-4">
                    <label for="name" class="form-label">Nome do produto</label>
                    <input type="text" class="form-control" id="name" placeholder="nome do produto" value="{{ .Name }}"> 
                </div>
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">R$: Valor</label>
                    <input type="text" class="form-control" id="price" placeholder="valor dp produto" value="{{ .Price }}"> 
                </div>
                <div class="mb-3 col-12">
                    <label for="description" class="form-label">Descrição do produto</label>
                    <textarea class="form-control" id="description" rows="3">{{ .Description }}</textarea>
                </div>
                <div class="col-12">
                    <button id="btn-edit--product" class="btn btn-sm btn-success" type="button">Atualizar</button>
                </div>
            </form>
        </div>
    </div>

    {{ template "footer" }}

    <script>
        const btnEditProduct = document.querySelector("#btn-edit--product")

        btnEditProduct.addEventListener("click", function(e) {
            e.preventDefault()

            const productCod = document.querySelector("#product_code").value
            const productId = document.querySelector("#product_id").value
            const productName = document.querySelector("#name").value
            const productPrice = document.querySelector("#price").value
            const productDescription = document.querySelector("#description").value

            const data = {
                product_code: parseInt(productCod),
                name: productName,
                price: parseFloat(productPrice),
                description: productDescription
            }

            fetch(`/products/${productId}`, {
                method: "PUT",
                body: JSON.stringify(data),
                headers: {"Content-Type": "application/json"}
            })
            .then(data => {
                if (data.status !== 204) {
                    Swal.fire("Opss!!", "error ao atualizar o produto :(", "error")
                    return
                }
                
                Swal.fire("Sucesso", "produto atualizado com sucesso!", "success")
                    .then(() => {
                        window.location = "/products"
                    })
            })
            .catch(error => {
                Swal.fire("Opss!!", "error ao atualizar o produto!", "error")
            })
    
        })
    </script>
</body>
</html>