<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "header" }}

    <title>Home - ERP System</title>
</head>
<body>
    {{ template "navbar" }}
    <div class="container">
        <h1 class="my-4">Home</h1>
    </div>

    {{ template "footer" }}
</body>
</html>