<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "header" }}

    <title>Produtos - ERP System</title>
</head>
<body>
    {{ template "navbar" }}
    <div class="container">
        <div class="row">
            <div class="col-9">
                <h1 class="my-4">Produtos</h1>
            </div>
            <div class="col-3 d-flex justify-content-end align-items-center">
                <button data-toggle="modal" data-target="#modal-add--product" type="button"class="btn btn-sm btn-primary"><i class="fa-solid fa-plus"></i> Adiconar</button>
            </div>
        </div>
        <table class="table secondary table-striped table-hover">
            <thead class="text-center">
                <tr>
                <th scope="col">Cod</th>
                <th scope="col">Nome</th>
                <th scope="col">Preço</th>
                <th scope="col">Descrição</th>
                <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody class="text-center">
                {{ range .Products }}
                <tr>
                    <td>{{ .Cod }}</td>
                    <td>{{ .Name }}</td>
                    <td>R$: {{ .Price }}</td>
                    <td>{{ .Description }}</td>
                    <td>
                        <a href="/products/{{ .ID }}/edit">
                            <i class="fas fa-edit text-primary ml-2" style="cursor: pointer;" title="Editar"></i>
                        </a>
                        <a data-product-id="{{ .ID }}">
                            <i class="fas fa-trash text-danger ml-2 btn-delete--product" style="cursor: pointer;" title="Deletar"></i>
                        </a>
                    </td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="modal-add--product">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Adiconar produto</h4>
                </div>
                <div class="modal-body">
                    <form id="form-add--product" class="row">
                        <div class="mb-3 col-md-4">
                            <label for="product_code" class="form-label">Cod</label>
                            <input type="text" class="form-control" id="product_code" placeholder="código do produto"> 
                        </div>
                        <div class="mb-3 col-md-4">
                            <label for="name" class="form-label">Nome do produto</label>
                            <input type="text" class="form-control" id="name" placeholder="nome do produto"> 
                        </div>
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">R$: Valor</label>
                            <input type="text" class="form-control" id="price" placeholder="valor dp produto"> 
                        </div>
                        <div class="mb-3 col-12">
                            <label for="description" class="form-label">Descrição do produto</label>
                            <textarea class="form-control" id="description" rows="3"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="btn-add--product" class="btn btn-sm btn-success" type="button">Adicionar</button>
                </div>
            </div>
        </div>
    </div>

    {{ template "footer" }}

    <script>
        const btnAddProduct = document.querySelector("#btn-add--product")
        const btnDeleteProduct = document.querySelectorAll(".btn-delete--product")

        btnAddProduct.addEventListener("click", function(e) {
            e.preventDefault()

            const productCod = document.querySelector("#product_code").value
            const productName = document.querySelector("#name").value
            const productPrice = document.querySelector("#price").value
            const productDescription = document.querySelector("#description").value

            const data = {
                product_code: parseInt(productCod),
                name: productName,
                price: parseFloat(productPrice),
                description: productDescription
            }

            fetch(`/products`, {
                method: "POST",
                body: JSON.stringify(data),
                headers: {"Content-Type": "application/json"}
            })
            .then(data => {
                if (data.status !== 201) {
                    Swal.fire("Opss!!", "error ao cadastrar o produto :(", "error")
                    return
                }
                
                Swal.fire("Sucesso", "produto cadastrado com sucesso!", "success")
                    .then(() => {
                        window.location = "/products"
                    })
            })
            .catch(error => {
                Swal.fire("Opss!!", "error ao cadastrar o produto!", "error")
            })
    
        })
        
        btnDeleteProduct.forEach(function(btn) {
            btn.addEventListener("click", function(e) {
                e.preventDefault()
                const productId = e.target.parentElement.dataset.productId
                
                Swal.fire({
                    title: "Atenção!!",
                    text: "Deseja realmente excluir esse produto?",
                    showCancelButton: true,
                    cancelButtonText: "Cancelar",
                    icon: "warning"
                })
                .then(function(isConfim){
                    if (!isConfim.value) return

                    fetch(`/products/${productId}`, {
                        method: "DELETE"
                    })
                    .then(function(data) {
                        if (data.status !== 204) {
                            Swal.fire("Ops!!", "ocorreu um erro ao deletar o produto :/", "error")
                            return
                        }
                        Swal.fire("Sucesso!", "Produto deletado com sucesso :)", "success")
                        .then(function() {
                            window.location = "/products"
                        })
                    })
                    .catch(function(error) {
                        Swal.fire("Opss!!", "error ao deletar o produto!!!", "error")
                    })
                })
            })
        })
    </script>
</body>
</html>